# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
test_files/

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*~

# File Recordings
*.recording.jsonl.gz
*.jsonl.gz
*.gz

# Pytest Results
*.html